<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{update ? 'Lead update':'lead create' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" method="post" class="form_item">
    <ion-item class="lb-img" *ngIf="update">
      <ion-label position="floating">Lead ID</ion-label>
      <ion-input  type="text" name="lead_id" [(ngModel)]="forms.LEAD_ID" readonly='true'></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">First Name</ion-label>
      <ion-input  type="text" name="first_name" [(ngModel)]="forms.FIRST_NAME"  ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input  type="text" name="last_name" [(ngModel)]="forms.LAST_NAME" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Email</ion-label>
      <ion-input  type="email" name="email" [(ngModel)]="forms.EMAIL_ADDRESS" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Phone</ion-label>
      <ion-input  type="text" name="phone" [(ngModel)]="forms.PHONE_NUMBER" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input  type="text" name="mobile" [(ngModel)]="forms.MOBILE_PHONE_NUMBER" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Address</ion-label>
      <ion-input  type="text" name="address_street" [(ngModel)]="forms.ADDRESS_STREET" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">City</ion-label>
      <ion-input  type="text" name="address_city" [(ngModel)]="forms.ADDRESS_CITY" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">State</ion-label>
      <ion-input  type="text" name="address_state" [(ngModel)]="forms.ADDRESS_STATE" ></ion-input>
    </ion-item>
    
    <ion-item class="lb-img">
      <ion-label position="floating">Zip</ion-label>
      <ion-input  type="number" name="address_postcode" [(ngModel)]="forms.ADDRESS_POSTCODE" ></ion-input>
    </ion-item>

    <ion-item class="lb-img" *ngIf="update">
      <ion-label position="floating">Created Date</ion-label>
      <ion-input  type="text" name="create_date" [ngModel]="forms.DATE_CREATED_UTC | date: 'dd/MM/yyyy'" (ngModelChange)="forms.DATE_CREATED_UTC = $event" readonly="true"></ion-input>
    </ion-item>

  </form> 

</ion-content>

<ion-footer >
  <ion-button class="footer_btn" type="submit" expand="full" color="primary" (click)="!update ? create(form) : updateForm(form)">Submit</ion-button>
  <!-- <ion-button class="footer_btn" type="submit" expand="full" color="primary" [disabled]="!update" (click)="skip()">Skip</ion-button> -->
</ion-footer>