<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" method="post" class="form_item"> 
  
    <ion-item class="lb-img">
      <ion-label position="floating">Disposal fee $</ion-label>
      <ion-input type="number" name="disposal_fee" [(ngModel)]="forms.disposal_fee" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Structural Engineering $</ion-label>
      <ion-input type="number" name="structural_engineering" [(ngModel)]="forms.structural_engineering" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Subtotal $</ion-label>
      <ion-input type="number" name="sub_total" [(ngModel)]="forms.sub_total" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Special promo</ion-label>
      <ion-input type="text" name="special_promo" [(ngModel)]="forms.special_promo" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Total $</ion-label>
      <ion-input type="number" name="total" [(ngModel)]="forms.total" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Deposit 50% $</ion-label>
      <ion-input type="number" name="deposit_50_percentage" [(ngModel)]="forms.deposit_50_percentage" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Balance $</ion-label>
      <ion-input type="number" name="balance" [(ngModel)]="forms.balance" ></ion-input>
    </ion-item>

    <ion-item class="lb-img">
      <ion-label position="floating">Spcial notes</ion-label>
      <ion-textarea name="special_notes" [(ngModel)]="forms.special_notes" ></ion-textarea>
    </ion-item>
    
     

  </form>

</ion-content>

<ion-footer>
  <ion-button class="footer_btn" type="submit" expand="full" color="secondary" (click)="update ? create(form) : updateForm(form)">Continue</ion-button>
  <!-- <ion-button class="footer_btn" expand="full" color="secondary" [disabled]="update" (click)="skip(form)">Skip</ion-button> -->
</ion-footer>
