.signature-pad{background:#fff; border: 1px solid #33bee5 !important; margin-top: 0px;}
.hideClass{display: none;}
.margin_set ion-badge {
    width: 100%;
    background: none;
    color: #000;
    border: 1px solid #33BEE5;
    float: left;
    margin: 2px 0;
}


.badgeColor{
    background: #33BEE5!important;
}

.label_color{
    color: #9e9e9e;
}

.button_pos{
    position: absolute;
    right: 0;
}
.sign_label{
    position: absolute;
    width: 100%;
    text-align: center;
}

.lb-img{background:#fff;}