ion-radio-group ion-item{
    float: left;
    width:50%;
}

.closeCircle{
    position: absolute;
    margin: -9px 42px;
}

.display_none{
    display: none;
}

.align_fab{
    padding: 8px;
    position: relative;
    top: 16px;
}

.lb-img{background:#fff;}