ion-radio-group ion-item{
    float: left;
    width:50%;
}

ion-toolbar ion-title{
    margin: 0;
}

.hideShow{
    display: none;
}

.closeIcon{
    position: absolute;
    right: 12px;
    top: 6px;
    color: #33BEE5;
    width: 16pt;
}